
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    margin-top: 30px;
    background-image: url("../img/fundo.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* ====================== FRASE ====================== */
.frase{
    font-family: 'Alex Brush';
    font-size: 250%;
    text-align: center;
    margin-top: 0;
}

/* ====================== ESTRUTURA DA PÁGINA  ====================== */
.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 300px;
}

/* ====================== SIDEBAR ====================== */

.sidebar {
    width: 300px;
    padding: 0px;
    background-color: #065143;
    color: #F9F6F6;
    position: fixed;
    top: 0; 
    right: 0; 
    height: 100%;
    overflow-y: auto; 
    margin-top: 50px;
}

.sidebar-titulo{
    font-family: 'Euphoria Script';
    text-align: center;
    font-size: 200%;
}

.lista-receitas{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.lista-receitas ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.lista-receitas a{
    color: #FAFCD3;
    text-decoration: none;
}

/* ====================== MENU ====================== */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; 
    height: 68px;
    background-color: #065143;
    color: #FAFCD3;
    font-weight: 400;
    z-index: 999;
}

.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background-color: #065143;
    align-items: center;
    justify-content: flex-end; /* alinhamento horizontal */
    color: #F9F6F6;
    font-weight: 400; /* letra em negrito */
}

.menu ul li{
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.menu ul li:hover{
    background-color: #285f61;
}

.menu a{
    text-decoration: none;
    color: #F9F6F6;
}

/* ====================== LOGO ====================== */
.logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 68px;
    width: auto;
    z-index: 1000;
    margin-left: 15px;
}

/* ========================== VISUALIZAÇÃO ========================== */
/* ====================== CARD DA VISUALIZAÇÃO ====================== */
.card,
.formulario {
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(#b7edc1,#55b569);
    width: 600px;
    font-size: medium;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

p {
    margin-block-start: 1px;
    margin-bottom: 5px;
}

.titulo{
    text-align: center;
    font-family: 'Euphoria Script';
    font-size: 250%;
    margin: 10px;
}

.textocard {
    display: flex;
    align-items: center;
    position: relative;
}

.textocard .icon {
    margin-right: 5px; /* Adiciona margem à direita do ícone */
}

.textocard .tooltip1 {
    display: none; /* Esconde o tooltip por padrão */
    position: absolute; /*  Posiciona o tooltip absolutamente */
}

.textocard:hover .tooltip1 {
    display: inline-block; /* Mostra o tooltip quando houver hover na textocard */
}

.textocard .tempoPreparo {
    margin-left: 30px; /* Adiciona margem à esquerda do tempo de preparo */
}

.prep{
    display: flex;
    margin-bottom: 10px;
}

.prep-box{
    background-image: linear-gradient(#D6F3FF,#6ABE7B);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.titulo1{
    background-color: #097561;
    font-size: 120%;
    text-align: center;
    color: white;
}

.text{
    margin-top: 0;
    padding: 10px;
}

/* ====================== BOTÕES ====================== */
button{
    padding: 0;
    cursor: pointer;
    height: 35px;
    margin: 0;
    background-color: transparent;
    border: none;
}

.btnDireita img{
    max-height: 100%;
    max-width: 100%;
    display: center;
    width: fit-content;
    height: fit-content;
    margin-right: 5%;
}

.btnDireita{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

button:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

/* ====================== TOOLTIP ====================== */
.tooltip {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    visibility: hidden;
    min-width: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    visibility: hidden;
    width: 90px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    top: -60px; 
    right: 75%;
}

/* ====================== ÍCONES DO CARD ====================== */
.icon{
    background-color: #6ABE7B;  
    border-radius: 23px;  
    height: 46px;
    width: auto;
    margin-right: 5px;
}

.icon:hover{
    cursor: pointer;
}

.icon:hover ~ .tooltip1{
    visibility: visible;
    opacity: 1;
}


/* ====================== FORMULÁRIO ====================== */
.form{
    padding: 5px;
    width: 580px;
    display: flex;
    flex-direction: column;
}

textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    resize: none;
}

/* ====================== INPUT ====================== */
input[type="text"]{
    size-adjust: auto;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

input[type="file"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 5px;
    margin-top: 10px;
}

/* ====================== CARD DELETE ====================== */

.carddelete{
    position: fixed; /* Para manter o elemento fixo na tela */
    top: 50%; /* Posiciona o topo do elemento no centro vertical */
    left: 50%; /* Posiciona a esquerda do elemento no centro horizontal */
    transform: translate(-50%, -50%); /* Move o elemento de volta metade da sua largura e altura */
    margin: 0 auto;    
    border: 2px solid #868686;
    border-radius: 5px;
    padding: 20px;
    background-image: linear-gradient(#b7edc1,#55b569);
    width: 340px;
    height: 180px;
    font-size: medium;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.confirm{
    font-family: 'Euphoria Script';
    font-size: 220%;
    text-align: center;
}

.titulodelete{
    font-size: 110%;
}

input[type="checkbox"]{
    height: 25px;
}

input[type="submit"]{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover{
    background-color: red;
    color: #F9F6F6;
    cursor: pointer;
}

/* ========================= BOTÃO VOLTAR AO INÍCIO ========================*/
#myBtn {
    display: none; /* Ocultar o botão por padrão */
    position: fixed; /* Posição fixa para que o botão permaneça sempre visível */
    bottom: 20px; /* Distância do botão ao fundo da página */
    right: 20px; /* Distância do botão ao lado direito da página */
    z-index: 99; /* Garante que o botão esteja acima de outros elementos */
    font-size: 24px; /* Tamanho da fonte do botão */
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno do botão */
    background-color: #6ABE7B; /* Cor de fundo do botão */
    color: #F9F6F6; /* Cor do texto do botão */
    cursor: pointer; /* Altera o cursor ao passar por cima do botão */
    padding: 1px; /* Adiciona um pouco de espaço dentro do botão */
    border-radius: 10px; /* Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    margin-right: 300px;
    width: 40px;
}

#myBtn:hover {
    background-color: #065143; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

/* ====================== INDEX ====================== */
.icon1-container {
    position: relative;
    width: 100%;
}

.loader-container {
    width: 100%;
    height: 30px;
    background-color: #F9F6F6;
    margin-top: 250px;
    position: relative;
}

.loader {
    width: 0;
    height: 100%;
    background-color: #065143;
    animation: progress 4s ease-in-out forwards;
    color: #F9F6F6;
    text-align: center;
    font-family: 'Euphoria Script';
    font-size: 160%
    
}


@keyframes progress {
    0% { width: 0; }
    50% { width: 50%; }
    100% { width: 100%; }
}

